<div style="display:block; height: 300px; clear:both;"></div>
<footer id="my-main-footer">
    <p class="lead">Copyright &copy; 2021 Kid's Recycle</p>
    <a href="/" class="position-absolute bottom-0 end-0 p-5"></a>
    <a href="#top"><i class="bi bi-arrow-up-circle h1" style="position: absolute; right: 38px; bottom: 20px;cursor:pointer;color:white;"></i></a>
</footer>