<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
        <button type="button" class="btn  btn-primary btn-sml btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Kids Recycle</button>


    <div class="collapse navbar-collapse navbar-btn" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listings/sell">Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listings/index">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listings/swap">Swap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listings/free">Free</a>
        </li>         
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listings/free">Log in</a>
        </li>         
      </ul>  
    </div>
  </div>
</nav>