<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
        <button type="button" class="btn  btn-primary btn-sml btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Kids Recycle</button>


    <div class="collapse navbar-collapse navbar-btn" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/listings/sell">Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/listings/index">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/listings/swap">Swap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/listings/free">Free</a>
        </li>         
        <li class="nav-item">
        <% if user_signed_in? %>
          <a class="nav-link active" href="/users/register">Logout</a>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link"%>
        <% else %>
         <%= link_to 'Log In', new_user_session_path, class: "nav-link"%>
        <% end %>
        </li>         
      </ul>  
    </div>
  </div>
</nav>