<%if params[:free] == nil %>
<div class="container-fluid">
    <div class="navbar-collapse search-bar" id="navbarSupportedContent">
        <%# Added search form %>
        <%= search_form_for(@q, class: "d-flex search-bar search-bar") do |f| %>
            <%= f.search_field :title_cont,placeholder: "Search...", class: "form-control me-2" %>
        <%end%>
    </div>
</div>
<%end%>

