<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag "children_home.jpg", class: "d-block mx-lg-auto img-fluid img-rounded img-thumbnail", style: "width:700, height:500" %>

      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Save the Planet</h1>
        <p class="lead">We believe at our very core that the planet is a living breathing being and should be loved and cared for, just like your things. That is whty we exist... to make the planet a better place one listing at a time! Join us by listing items you love but want to share with the world. Make a child and the environment happy, by removing items from potential landfil!!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%= link_to 'Buy',"/listings/", class:"btn btn-primary btn-lg px-4 me-md-2"%>
        <%= link_to 'Sell', "/listings/new/", class:"btn btn-outline-secondary btn-lg px-4"%>
        </div>
      </div>
    </div>
  </div>
</div>