
<div class="container">
<div class="centered">
  <h1 class="text-white"><small>Welcome to Kids's Recycle society</small></h1>
</div>
</div>
<br>
<br>
<br>

<div class="row">
    <% @listings.each do |listing| %>
        <div class="col-md-3">
            <div class="card">
            
            <% if listing.pictures && listing.pictures.first%>
                <%= image_tag listing.pictures.first, class: "card-img-top" %>
            <% else %>
                <%= image_tag "no-img.jpeg", class: "card-img-top" %>
            <% end %> 
               
            </div>
            <div calss="card-body">
                <p class="card-text"><% listing.title %></p>
                <p>$<%= listing.price %></p>
                <%= link_to 'Detail',listing_path(listing), class:"btn btn-primary"%>
            </div>
        </div>  
    <% end %>
</div>